
:root {
    --base-resolution-width: 1920;
    --scaling-factor: 1; /* Default scaling factor */
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.header {
    background-color: #093813; /* Header background color */
    display: flex;
    justify-content: flex-start; /* Aligns items to the start */
    align-items: center;
    padding: 20px;
    overflow: auto;
}


.right-items {
    margin-left: auto; /* This will push the .right-items container to the right */
    display: flex; /* If you want to keep the hidden items in a row */
}

.header .title {
    color: #c4B581;
    font-size: 22px;
    margin-right: 50px; /* Adjust the space between the menu items if necessary */
    cursor: pointer;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

.header .title.hidden {
    display: none; /* Use none instead of hidden to hide elements */
    margin-left: -60px;
}



.header .title:hover{
    color: #776A3F;
}

.header .circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #c4B581;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
    transition: background-color 0.3s;
}

.header .circle:hover{
    background-color: #776A3F;
}

.header .logo {
    margin-right: 30px;
    margin-left: 30px;
    margin-left: 50px;
    cursor: pointer;
}

.header .login-icon img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.header .logo img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.landingpage .text-box{
    margin-left: calc(78px * var(--scaling-factor));
    margin-top: calc(200px * var(--scaling-factor));
}

.landingpage .main-text {
    color: white;
    font-size: calc(96px * var(--scaling-factor));
    font-weight: bold;
    margin-top: calc(10px * var(--scaling-factor));
}

.landingpage .text-box-mini {
    opacity: 0;
}

.landingpage .animation-box {
    margin-left: calc(179px * var(--scaling-factor));
    margin-top: calc(-228px * var(--scaling-factor));
    overflow: hidden;
}

.landingpage .animation-text {
    background: linear-gradient(45deg, #093813 0%, #C4B581 25%, #C4B581 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: calc(96px * var(--scaling-factor));
    font-weight: bold;
    margin-top: 0px;
    animation: slideUp 3s infinite;
}

@keyframes slideUp {
    0% {
        transform: translateY(-100%); /* Start with no vertical translation */
    }
    25% {
        transform: translateY(0%);
    }
    75%{
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%); /* Slide up by 100% of its own height */
    }
}

.landingpage .slide {
    border: #093813 solid 10px;
    margin-top: calc(-450px * var(--scaling-factor));
    margin-left: calc(849px * var(--scaling-factor));
    overflow: hidden;
    width: calc(837px * var(--scaling-factor));
    height: calc(585px * var(--scaling-factor));
    position: relative;
}

.landingpage .slide .image {
    width: calc(837px * var(--scaling-factor));
    height: calc(585px * var(--scaling-factor));
    object-fit: cover;
    animation: slideLeft 3s infinite;
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100%); /* Start with no vertical translation */
    }
    25% {
        transform: translateX(0%);
    }
    75%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
         /* Slide up by 100% of its own height */    
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 60px;
}
@media (min-aspect-ratio:10/9) {
    .contact-container .contact-full {
        max-width: 100%;
        max-height: 100%;
        width:calc(1344px * var(--scaling-factor));
        left:50%;
    }
    .contact-container .contact-mini {
        max-width: 100%;
        max-height: 100%;
        width:calc(1344px * var(--scaling-factor));
        left:50%;
        display: none;
    }
}

@media (max-aspect-ratio:10/9) {
    .contact-container .contact-full {
        max-width: 100%;
        max-height: 100%;
        width:calc(1344px * var(--scaling-factor));
        left:50%;
        display: none;
    }
    .contact-container .contact-mini {
        max-width: 100%;
        max-height: 100%;
        width:calc(1344px * var(--scaling-factor));
        left:50%;

    }
}
.event-box{
    width: calc(1200px*var(--scaling-factor)); 
    height: calc(265px*var(--scaling-factor)); 
    background-color: #121212; 
    border: calc(3px*var(--scaling-factor)) solid #C4B581;  
    margin-top: calc(80px*var(--scaling-factor));
    margin-left: auto;
    margin-right: auto;
}
.event-text{
    color: white;
    font-weight: bold;
    margin-left: calc(25px*var(--scaling-factor));
    margin-top: calc(25px*var(--scaling-factor));
    font-size: calc(20px*var(--scaling-factor));

}
.event-description{
    margin-top: calc(10px*var(--scaling-factor));
    margin-bottom: calc(80px*var(--scaling-factor));
}
.event-date,
.event-location{
    margin-top: calc(30px*var(--scaling-factor));
}
.apply-box{
    width: calc(275px*var(--scaling-factor)); 
    height: calc(80px*var(--scaling-factor)); 
    background-color: #093813;
    margin-top: calc(-160px*var(--scaling-factor));
    margin-left: calc(1330px*var(--scaling-factor));
    text-align: center;
    line-height: calc(80px*var(--scaling-factor));
    color: white;
    font-size: calc(40px*var(--scaling-factor));
    font-weight: bold;
    cursor: pointer;
    
}
.apply-box.apply,
.apply-box.pending,
.apply-box.accepted,
.apply-box.denied {
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.apply-box.apply {
    background-color: white; /* Default color for 'Apply' */
    color: black; /* Text color for visibility */
}

.apply-box.pending {
    background-color: #f0ad4e; /* A yellow/orange color for 'Pending' */
    color: white;
}

.apply-box.accepted {
    background-color: #5cb85c; /* Green color for 'Accepted' */
    color: white;
}

.apply-box.denied {
    background-color: #d9534f; /* Red color for 'Denied' */
    color: white;
}

.accept-box{
    width: calc(200px*var(--scaling-factor)); 
    height: calc(80px*var(--scaling-factor)); 
    background-color: #093813;
    transform: translate(calc(1605px*var(--scaling-factor)), calc(-86px*var(--scaling-factor)));
    text-align: center;
    line-height: calc(80px*var(--scaling-factor));
    color: white;
    font-size: calc(40px*var(--scaling-factor));
    font-weight: bold;
    cursor: pointer;
}
.accept-box:hover{
    background-color: #041a09;
}
.deny-box{
    width: calc(200px*var(--scaling-factor)); 
    height: calc(80px*var(--scaling-factor)); 
    background-color: #861414;
    transform: translate(calc(1605px*var(--scaling-factor)), calc(-60px*var(--scaling-factor)));
    text-align: center;
    line-height: calc(80px*var(--scaling-factor));
    color: white;
    font-size: calc(40px*var(--scaling-factor));
    font-weight: bold;
    cursor: pointer;
    
}
.deny-box:hover{
    background-color: #570a0b;
}


.apply-box:hover{
    background-color: #0f531e;
}


.apply-page .event-rectangle {
    margin: 0 auto;
    margin-bottom: calc(132px*var(--scaling-factor));
    height: calc(400px*var(--scaling-factor));
    width: calc(1694px*var(--scaling-factor));
    background: #121212;
    border: calc(4.45217px *var(--scaling-factor))solid #C4B581;
    
}

.apply-page .event-rectangle:hover {
    margin: 0 auto;
    margin-bottom: calc(132px*var(--scaling-factor));
    height: calc(400px*var(--scaling-factor));
    width: calc(1694px*var(--scaling-factor));
    background: #121212;
    border: calc(4.45217px *var(--scaling-factor))solid #093813;
    
}

.apply-page .event-rectangle .text{
margin-left:calc(33px*var(--scaling-factor)) ;
font-size: calc(28px*var(--scaling-factor));
text-align: left;
color: white;
}

.text-wrap{
    width: calc(1000px*var(--scaling-factor));

}
.apply-page .output-container{
	margin-top: calc(150px*var(--scaling-factor));
}
.apply-page .output-container h1 { 
    color: antiquewhite;
    align-items: center;
    align-content: center;
}

.forms input[type="email"]{
	background-color: #323232; color: #686868;
	box-sizing: border-box;
	border-bottom: calc(5px*var(--scaling-factor)) solid white;
	height: calc(66px*var(--scaling-factor));
	margin-top: calc(37px*var(--scaling-factor));
	font-size: calc(24px*var(--scaling-factor));
	z-index: 10000;
}
.forms input[type="text"]{
	background-color: #323232; color: #686868;
	box-sizing: border-box;
	border-bottom: calc(5px*var(--scaling-factor)) solid white;
	height: calc(66px*var(--scaling-factor));
	margin-top: calc(37px*var(--scaling-factor));
	font-size: calc(24px*var(--scaling-factor));
	z-index: 10000;
}
.forms input[type="date"]{
	background-color: #323232; color: #686868;
	box-sizing: border-box;
	border-bottom: calc(5px*var(--scaling-factor)) solid white;
	height: calc(66px*var(--scaling-factor));
	margin-top: calc(37px*var(--scaling-factor));
	font-size: calc(24px*var(--scaling-factor));
	z-index: 10000;
}
.forms input[type="number"]{
	background-color: #323232; color: #686868;
	box-sizing: border-box;
	border-bottom: calc(5px*var(--scaling-factor)) solid white;
	height: calc(66px*var(--scaling-factor));
	margin-top: calc(37px*var(--scaling-factor));
	font-size: calc(24px*var(--scaling-factor));
	z-index: 10000;
}
.forms input[type="time"]{
	background-color: #323232; color: #686868;
	box-sizing: border-box;
	border-bottom: calc(5px*var(--scaling-factor)) solid white;
	height: calc(66px*var(--scaling-factor));
	margin-top: calc(37px*var(--scaling-factor));
	font-size: calc(24px*var(--scaling-factor));
	z-index: 10000;
}

.forms form{
	display: grid;
	grid-template-columns: repeat(1, 1fr);	
	text-align: center;
	align-items: center;
	height: calc(540px*var(--scaling-factor));
	transform: translate(0, calc(100px*var(--scaling-factor)));

}

.forms .form-container{
	box-sizing: border-box;
	align-items: center;
	height: 100vh;
	z-index: 0;
}
.forms .profileImage{
	display: flex;
	grid-row-start: 1;
	grid-column-start: 1;
	width: 150%;
	height: 150%;
}
.forms .name{
	display: flex;
  	align-items: center;
	grid-row-start: 2;
	grid-column-start: 1;

}
.forms .email{
	display: flex;
  	align-items: center;
	grid-row-start: 2;
	grid-column-start: 1;
}
.forms .phone{
	display: flex;
  	align-items: center;
	grid-row-start: 2;
	grid-column-start: 1;
}
.forms .address{
	display: flex;
  	align-items: center;
	grid-row-start: 3;
	grid-column-start: 1;
}	
.forms .city{
	display: flex;
  	align-items: center;
	grid-row-start: 3;
	grid-column-start: 1;
}
.forms .zipcode{
	display: flex;
  	align-items: center;
	grid-column-start: 1;
	grid-row-start: 3;
}
.forms .ename{
	display: flex;
  	align-items: center;
	grid-column-start: 1;
	grid-row-start: 4;
}
.forms .enumber{
	display: flex;
  	align-items: center;
	grid-column-start: 1;
	grid-row-start: 4;
}
.forms .bday{
	display: flex;
  	align-items: center;
	grid-column-start: 1;
	grid-row-start: 4;
}
.forms .button{
	display: flex;
	grid-column-start: 1;
  	align-items: center;
	grid-row-start: 5;
	margin-top: calc(73px*var(--scaling-factor));
}
.forms .eventName{
	display: flex;
	grid-column-start: 1;
	align-items: center;
	grid-row-start: 1;
}
.forms .startDate{
	display: flex;
	grid-column-start: 1;
	align-items: center;
	grid-row-start: 1;
}
.forms .endDate{
	display: flex;
	grid-column-start: 1;
	align-items: center;
	grid-row-start: 1;
}
.forms .time{
	display: flex;
	grid-column-start: 1;
	align-items: center;
	grid-row-start: 1;
}
.forms .location{
	display: flex;
	grid-column-start: 1;
	align-items: center;
	grid-row-start: 2;
}
.forms .capacity{
	display: flex;
	grid-column-start: 1;
	align-items: center;
	grid-row-start: 2;
}
.forms .descriptionO{
	display: flex;
	grid-column-start: 1;
	align-items: center;
	grid-row-start: 4;
	background-color: #323232; color: #686868;
	border-bottom: calc(5px*var(--scaling-factor)) solid white;
	margin-top: calc(37px*var(--scaling-factor));
	font-size: calc(24px*var(--scaling-factor));
}


.user-rectangle {
	/* Rectangle 26 */

 margin: 0 auto;
    margin-bottom: calc(-126px*var(--scaling-factor));
    height: calc(229px*var(--scaling-factor));
    width: calc(1764px*var(--scaling-factor));
    background: #121212;
    border: calc(4.45217px *var(--scaling-factor))solid #C4B581;
display: flex;
  flex-direction: row;
  justify-content: left;

}

.user-rectangle .usericon {
	width:calc(145px*var(--scaling-factor));
	margin-left: calc(27px*var(--scaling-factor));
	height:calc(145px*var(--scaling-factor));
	align-self: center
}

.user-rectangle .text-boxP{
	width: calc(300px*var(--scaling-factor));
}

.user-rectangle .text{
/* Name: Paul Burger Phone: 1234567890 Email: PaulB@gmail.com DOB: 10/02/2002 */
width: calc(300px*var(--scaling-factor));
word-break: unset;
margin-left:calc(33px*var(--scaling-factor)) ;
font-size: calc(22px*var(--scaling-factor));
text-align: left;
color: white;
line-height: calc(40px*var(--scaling-factor));
text-wrap: wrap;
margin-right: calc(140px*var(--scaling-factor));
}

.event-title {
    text-align: center;
    color: #c3b681;
    font-size: calc(96px*var(--scaling-factor));
}
.event-title-underline {
    width: 95%;
    height: calc(10px*var(--scaling-factor));
    background-color: #c3b681;
    margin: auto;
    margin-top: calc(-80px*var(--scaling-factor));
    margin-bottom: calc(20px*var(--scaling-factor));/
	
}

.return-arrow{
    height: calc(80px*var(--scaling-factor));
    margin-left: 3%;
}
.delete-event{
    height: calc(80px*var(--scaling-factor));
    margin-left: 10%;
}

.event-options{
display: flex;
  flex-direction: row;
  justify-content: left;
}
